.heading-layout {
    font-family: Crimson Text, serif;
    text-indent: 4rem;
    padding: 2rem;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-bar-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    max-width: 80%;
    margin: 0 auto;
}

.bar-layout-1{
    width: 100%;
    height: 35px;
    background: rgba(227, 225, 225, 0.33);
    align-items: center;
    display: flex;
}

.bar-layout-2 {
    width: 100%;
    height: 35px;
    background: rgba(227, 225, 225, 0.33);
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.bar-layout-text {
    font-family: Inter, serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding-left: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.bar-layout-1 > .bar-layout-text:hover {
    color: #35004d;
    transition: 250ms ease-in;
}

.bar-layout-2 > .bar-layout-text {
    color: black;
    padding-right: 1rem;
}

.bar-layout-2 > .bar-layout-text:hover {
    color: #35004d;
    transition: 250ms ease-in;
}

.box-layout {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    height: 500px;
    background: #fff;
    max-width: 80%;
    margin: 0 auto;
}

.small-box-layout {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    height: 200px;
    background: #FFF;
    box-shadow: 9px 4px 28px 0px rgba(0, 0, 0, 0.25);
}

.small-box-layout-rectangle {
    height: 35px;
    background: rgba(39, 139, 49, 0.17);
    align-items: center;
    display: flex;
}

.small-box-layout-rectangle-text {
    font-family: Inter, serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-left: 1rem;
    font-weight: bold;
}

.small-box-layout-rectangle-2 {
    height: 130px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.small-box-layout-rectangle-2-text {
    font-family: Inter, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-left: 1rem;
    padding-right: 1rem;
}

.small-box-layout-rectangle-3 {
    height: 35px;
    width: 150px;
    border-radius: 34px;
    background: rgba(214, 228, 238, 0.88);
    align-items: center;
    display: flex;
    text-align: center;
}

.small-box-layout-rectangle-text-3 {
    font-family: Inter, serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-left: 2rem;
}

.box-layout {
    border-top: black 1px solid;
}