/*
.Layout {
    position: relative;
    z-index: 1;
    max-width: 82%;
    max-height: 100vh;
    background-color: black;
    margin-left: auto;


}

.Navbar {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
}

.Sidebar {
    position: relative;
    z-index: 1000;
    height: 100vh;
    max-width: 18%;
    background: rgba(227, 225, 225, 0.33);
}*/
.main-page{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    /*grid-column-gap: 0px;*/
    /*grid-row-gap: 0px;*/
}

.Navbar {
    /*display: grid;*/
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;

    /*justify-content: space-between;*/
}

.Sidebar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 13;
    background: rgba(227, 225, 225, 0.33);

}

.Layout {
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 13;
    background-color: rgba(249, 249, 249, 0.45);
}

