.Layout {
    position: relative;
    z-index: 1;
    max-width: 82%;
    max-height: 100vh;
    background-color: black;
    margin-left: auto;


}

.Navbar {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
}

.Sidebar {
    position: relative;
    z-index: 1000;
    height: 100vh;
    max-width: 18%;
    background: rgba(227, 225, 225, 0.33);
}